h1 {
    font-size: 36px;
}

.possible-answers, .next-question-btn { /* .next-question-btn is temporary until timers are implemented */
    display: block;
    margin: 5px auto;
}

#answer-image {
    max-width: 350px;
}