@font-face {
    font-family: "SuperMario256";
    src: url("../fonts/SuperMario256.ttf");
}

h1 {
    font-size: 36px;
    font-family: "SuperMario256";
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

h2 {
    font-size: 24px;
}

#header {
    margin: 25px 0px;
}

.possible-answers {
    display: inline-block;
    margin: 5px auto;
}

#answer-image {
    max-width: 350px;
}

#game-window-center {
    text-align: center;
}

.text-center {
    text-align: center;
}

.timer {
    color: red;
    font-weight: bold;
}